extends ./template.jade

block content
  hr
  div
    button( class="btn btn-danger btn-lg btn-block raised gradient btn-request animated bounce delay"
            type="button" name="button" ng-click="isRequesting = !isRequesting") List your player
  hr
  div( class="showbox" ng-show="isRequesting" ng-controller="CodAWPostCtrl")
    div( class="battlePost")

  div( ng-controller="CodAWFeedCtrl")
    div( class="showBattles")

block scripts
  script( src="/socket.io/socket.io.js")

  //Angular Controllers
  script( src="/services/postSocket.js")
  script( src="/controllers/codawFeedController.js")
  script( src="/controllers/codawPostController.js")
