extends ./template.jade

block content
  hr
  div
    button( class="btn btn-danger btn-lg btn-block raised gradient btn-request"
            type="button" name="button" ng-click="isRequesting = !isRequesting") List your Clan
  hr
  div( class="showbox" ng-show="isRequesting" ng-controller="CodBO3PostCtrl")
    div( class="battlePost")

  div( ng-controller="CodBO3FeedCtrl")
    div( class="showBattles")

block scripts
  script( src="/socket.io/socket.io.js")

  //Angular Controllers
  script( src="js/services/postSocket.js")
  script( src="js/controllers/codbo3FeedController.js")
  script( src="js/controllers/codbo3PostController.js")
