extends ./template.jade

block content
  div.container-fluid
    a( href="/hardline")
      button.btn.btn-default.btn-lg.btn-block.btn-game(type="button") Battlefield Hardline
    a( href="/bf4")
      button.btn.btn-default.btn-lg.btn-block.btn-game(type="button") Battlefield 4
    a( href="/codaw")
      button.btn.btn-default.btn-lg.btn-block.btn-game(type="button") Call of Duty Advanced Warfare
    a( href="/codbo3")
      button.btn.btn-default.btn-lg.btn-block.btn-game(type="button") Call of Duty Black Ops 3
