extends ./template.jade

block content

  div.container-fluid.game-container
    a( href="/siege")
      button.btn.btn-block.btn-primary.raised.gradient.btn-game.animated.bounceInLeft(type="button") Rainbow Six Siege
    a( href="/hardline")
      button.btn.btn-block.btn-primary.raised.gradient.btn-game.animated.bounceInLeft(type="button") Battlefield Hardline
    a( href="/bf4")
      button.btn.btn-block.btn-primary.gradient.raised.btn-game.animated.bounceInRight(type="button") Battlefield 4
    a( href="/codaw")
      button.btn.btn-block.btn-primary.gradient.raised.btn-game.animated.bounceInLeft(type="button") COD Advanced Warfare
    a( href="#")
      button.btn.btn-block.btn-primary.gradient.raised.btn-game.animated.bounceInRight.coming-soon(type="button") COD Black Ops 3
    a( href="/rocket")
      button.btn.btn-block.btn-primary.gradient.raised.btn-game.animated.bounceInLeft(type="button") Rocket League
  div.supporters
    h3 Thanks for the Support
    a(href="http://www.rocketleaguecentral.com/")
      img.box(src="/images/RLC.png")
