extends ./template.jade

block content
  div.container-fluid.game-container
    a( href="/hardline")
      button.btn.btn-block.btn-primary.raised.gradient.btn-game(type="button") Battlefield Hardline
    a( href="/bf4")
      button.btn.btn-block.btn-primary.gradient.raised.btn-game(type="button") Battlefield 4
    a( href="/codaw")
      button.btn.btn-block.btn-primary.gradient.raised.btn-game(type="button") COD Advanced Warfare
    a( href="/codbo3")
      button.btn.btn-block.btn-primary.gradient.raised.btn-game(type="button") COD Black Ops 3
