doctype html
html(lang="en")
  head
    meta( charset='utf-8')
    meta( http-equiv='X-UA-Compatible', content='IE=edge')
    meta( name='viewport', content='width=device-width, initial-scale=1.0')
    meta( property="og:image" content="http://www.openbattles.com/public/images/openbattleslogosmall.png")
    meta( property="og:description" content="LFG site for competitive gamers!")
    meta( property="og:url" content="http://www.openbattles.com")
    meta( property="og:title" content="Openbattles.com")
    title= title
    link( rel='stylesheet' href='libs/bootstrap/dist/css/bootstrap.min.css')
    link( rel='stylesheet' href='libs/normalize.css/normalize.css')
    link( rel='stylesheet' href='stylesheets/style.css')
    link( rel='stylesheet' href='stylesheets/buttons.css')
    link( rel='stylesheet' href='stylesheets/animate.css')
    link( rel='stylesheet' href='libs/font-awesome/css/font-awesome.min.css')
  body(ng-app="openbattles")
    div( ng-include="'partials/header.html'")
    div( ng-include="'partials/instructions.html'")
    block content

    block footer
      div.footer
        p.footer-content
          i.fa.fa-copyright.fa-lg
          span Copyright 2015 - Openbattles.com
          i.fa.fa-circle
          span Comments, Questions, Feedback, Suggestions, or Bugs
          i.fa.fa-circle
          span
            a.email(href="mailto:lp1134@hotmail.com")
              i.fa.fa-envelope.fa-lg
          span
            a( href="https://twitter.com/Openbattlescom")
              i.fa.fa-twitter.fa-lg
            a( href="https://facebook.com/openbattles")
              i.fa.fa-facebook.fa-lg

    // Angular Core Components
    script( src="libs/angular/angular.js")
    script( src="libs/angular-animate/angular-animate.js")
    script( src="libs/jquery/dist/jquery.js")
    script( src="libs/angular-socket-io/socket.js")
    script( src="libs/momentjs/moment.js")
    script( src="libs/angular-moment/angular-moment.js")
    script( src='libs/angular-flash-alert/dist/angular-flash.min.js')

    // Initialize Angular App
    script( src="js/app.js")

    //Analytics
    script( src="js/google/analytics.js")

    block scripts
