doctype html
html(lang="en")
  head
    meta( charset='utf-8')
    meta( http-equiv='X-UA-Compatible', content='IE=edge')
    meta( name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link( rel='icon' type='image/png' sizes='96x96' href='/public/images/favicon-96x96.png')
    link( rel='stylesheet' href='libs/bootstrap/dist/css/bootstrap.min.css')
    link( rel='stylesheet' href='libs/normalize.css/normalize.css')
    link( rel='stylesheet' href='stylesheets/style.css')
    link( rel='stylesheet' href='stylesheets/buttons.css')
    link( rel='stylesheet' href='stylesheets/animate.css')
  body(ng-app="openbattles")
    div( ng-include="'partials/nav.html'")
    div( ng-include="'partials/header.html'")

    block content

    block footer
      div.footer
        p.footer
          span.glyphicon.glyphicon-copyright-mark
          span Copyright 2015 - Openbattles.com | Comments, Questions, Feedback, Suggestions, or Bugs...
          span
            a.email(href="mailto:lp1134@hotmail.com") email us.

    // Angular Core Components
    script( src="libs/angular/angular.js")
    script( src="libs/angular-animate/angular-animate.js")
    script( src="libs/jquery/dist/jquery.js")
    script( src="libs/angular-socket-io/socket.js")
    script( src="libs/momentjs/moment.js")
    script( src="libs/angular-moment/angular-moment.js")
    script( src='libs/angular-flash-alert/dist/angular-flash.min.js')

    // Initialize Angular App
    script( src="js/app.js")

    //Analytics
    script( src="js/google/analytics.js")

    block scripts
