body{

}

.btn:focus{
  outline: none;
}
/**
 Homepage
**/

.navbar-default{
  border-radius: 0;
  opacity: 0.7;
}

.intro-container{
  display:flex;
  flex-direction: column;
}

.intro{
  position:relative;
  padding:10px;
  width: 90%;
  margin: 0 auto;
  background-color: rgba(242,127,62,1);
  background-color: #262726;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-align: center;
  color:white;
  text-transform: uppercase;
  border-bottom: 2px solid white;
}

.main-title{

}
.supporters{
  position: relative;
  padding: 10px;
  margin: 0 auto;
  width: 90%;
  color: white;
  background: #323432;
  text-align: center;
  height: 200px;
}

img{
  padding:0
  margin: 0
}

.box{
  width: 200px;
  height: 100px;
}

.google-ads{
  position:relative;
  padding: 10px;
  margin: 0 auto;
  width: 90%;
  height: 100px;
  background: gray;
  border-bottom: 2px solid white;
  display: none;
}


a {
  color:white;
}

a:hover{
  text-decoration: none;
}

.game-container{
  width:90%;
  padding:20px;
  display: flex;
  flex-direction: column;
  background-color: #323432;
  border-bottom: 2px solid white
}

.btn-game{
    margin: 0 auto;
    margin-bottom: 15px;
}


.delay{
  -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
  animation-delay: 1s;
}



/**
Request
**/

.btn-request{
  width:90%;
  margin:0 auto;
}


.showbox{
  -webkit-transition: all linear .7s;
  transition: all linear .7s;
}

.showbox.ng-hide{
  opacity:0;
}

.request-title{
  text-align: center;
}

.jumbotron{
  padding:20px 0;
  margin-bottom: 20px;
}

.btn-submit{
  background-color: rgba(242,127,62,1);
  color: white;
}

.btn-submit:hover{
  color: rgba(242,127,62,1);
  background-color: rgba(242,127,62,0.5);
}

.warning-text{
  color:red;
}


/**
Post Feed
**/


.feed-container{
  width:90%;
  margin:0 auto;
}

.feed-title-container{
    text-align: center;
}

.feed-title{
  margin:10px;

}

.feed-time-info{

}

.zero-posts{
  text-align: center;
  font-size: 20px;
}

.form-filter{
  width: 50%;
  margin: 0 auto;

}

.field{
  margin:10px 0;
}

.glyphicon{
  vertical-align: bottom;
    font-size: 1.8em;
    margin-right: 5px;
}

.icon-link{
  color:#2371B2;
}

.player-name{
  padding:5px;
  color:red;
  background:black;
  border-radius: 5px;
}

.game-mode{
  padding:5px;
  background-color:white;
  border-radius: 5px;
}

.game-rules{
  background-color:darkgray;
  color:white;
  padding:5px;
  border-radius: 5px;
}

.feed-text{
  font-size:1.2em;
}

.seperator{
  width:100%;
  border:1px solid gray;
}

.post-block{
  background-color: white;
  border-radius: 5px;
  padding:10px 0 0 0;
  margin-bottom: 20px;
}

/**
Footer
**/

.footer{
  background-color: rgba(255,255,255,0.2);
  margin-top:20px;
  padding:10px;
  text-align: center;
}

a.email{
  color:gray;
  text-decoration: underline;
}

a.email:hover{
  color:red;
}


/**
Form validation
**/

select.ng-invalid{
  border:1px solid red;
}

input.ng-invalid{
  border:1px solid red;
}
