
<div class="jumbotron">
  <div class="feed-title-container">
    <h3 class="feed-title">Call of Duty Advanced Warfare</h3>
    <h3 class="feed-title">Currently Looking For A Scrim/Battle</h3>
    <span class="feed-time-info">Your post will be deleted after 15 mins</span>
  </div>
  <hr/>

  <div class="form-filter">
    <span><strong>Filter Posts By: </strong></filter><br/><br/>
    <div class="form-group">
      <label for="gamerName">Console</label>
      <select class="form-control" name="console" ng-model="console" ng-options="id.name for id in consoles">
      </select>
    </div>
    <div class="form-group">
      <label for="gameMode">Game Mode</label>
      <select class="form-control" name="mode" ng-model="mode" ng-options="mode.name for mode in gameModes">
      </select>
    </div>
  </div>
  <hr/>
  <div class="zero-posts" ng-show="post == ''">
    Zero players looking for battles - add yourself and let them find you!
  </div>
  <div ng-repeat="data in post | filter:console.name | filter:mode.name | orderBy:created:true">

    <div class="feed-container row post-block">
        <div class="col-md-6 col-sm-6">
          <div class="field">
            <a class="icon-link" href="https://account.xbox.com/en-US/Messages?gamerTag={{data.consoleID | encodeURIComponent}}" target="_blank"><i class="fa fa-envelope-o fa-2x fa-envelope-color" ng-show="data.consoleType.value == 'xone' || data.consoleType.value == 'xbox'"></i></a>
             <i class="fa fa-male fa-2x fa-male-color"></i><span class="player-name feed-text">{{data.consoleID}}</span>
          </div>

          <div class="field">
            <i class="fa fa-gamepad fa-lg fa-gamepad-color"></i><span class="feed-text"> {{data.consoleType.name}}</span>
          </div>

          <div class="field">
            <i class="fa fa-bullseye fa-lg fa-bullseye-color"></i><span class="feed-text">{{data.gameMode}} | {{data.numberOfPlayers}} v {{data.numberOfPlayers}}</span>
          </div>

        </div>

      <div class="col-md-6 col-sm-6">
        <div ng-show="data.rules" class="field">
          <i class="fa fa-comments fa-lg fa-comments-color"></i><span class="game-rules feed-text">{{data.rules}}</span>
        </div>

        <div class="field">
          <i class="fa fa-clock-o fa-lg fa-clock-o-color"></i><span class="feed-text" am-time-ago="data.created"></span>
        </div>

      </div>
    </div>
    <div class="seperator"></div>
    <br/>
  </div>

</div>
