
  <h1 class="request-title">Request a War</h1>
  <div class="container">
    <div class="jumbotron" style="padding:10px">
      <form name="requestForm">
      <div class="form-group">
        <label for="console">Console</label>
        <select class="form-control" name="consoleType" ng-model="consoleType" ng-options="console.name for console in consoles" required>
        </select>
      </div>


      <div class="form-group">
        <label for="gamerName">Console ID/User ID</label>
        <input type="text" class="form-control" id="consoleID" placeholder="PSN Name/Xbox Name" ng-model="consoleID" required>
      </div>


      <div class="form-group">
        <label for="gameMode">Game Mode</label>
        <select class="form-control" name="gameMode" ng-model="gameMode" ng-options="mode.name for mode in gameModes" required>
        </select>
      </div>


      <div class="form-group">
        <label for="numberOfPlayers">Number of Players</label>
        <select class="form-control" name="numberOfPlayers" ng-model="numberOfPlayers" ng-options="n for n in [] | range:1:gameMode.players" required>
        </select>
      </div>

      <div class="form-group">
        <label for="rules">Ban & Protect</label>
        <textarea class="form-control" name="rules" ng-model="rules"></textarea>
      </div>

      <div class="form-group">
        <label for="hasServer">We have a server</label>
        <input type="checkbox" name="hasServer" ng-model="hasServer" ng-click="serverTrue = !serverTrue"><br>
      </div>

      <div class="form-group" ng-show="serverTrue">
        <label for="serverName">Server Name</label>
        <input type="text" class="form-control" name="serverName" ng-model="serverName">
      </div>

      <div>
        <input type="button" value="Submit a Battle" ng-click="insertdata()" ng-disabled="requestForm.$invalid" class="btn btn-lg btn-warning btn-block raised gradient btn-submit"></input>
        <span class="warning-text">Fields in red are REQUIRED!</span>
      </div>
      </form>
    </div>
  </div>
