<a class="home-button" href="/">
<div class="intro-container">
  <div class="intro">

      <img class= "logo animated rollIn" src="images/grenade.png">
      <span class="title">Openbattles.com</span>

    <p class="description">
      <span><i class="fa fa-check-square-o fa-lg fa-check-square-o-color"></i>Competitive LFG - Find And Challenge Other Players Or Clans</span>
      <span><i class="fa fa-check-square-o fa-lg fa-check-square-o-color"></i>The most current players - All Posts Expire After 15 Minutes</span>
      <span><i class="fa fa-check-square-o fa-lg fa-check-square-o-color"></i>No need to sign up... quick and simple!</span>
    </p>
  </div>
  <div class="google-ads">
    ads go here
  </div>
</div>
</a>
