<div class="instructions-container">
  <p class="instructions">
    <span class="instructions-title">Instructions:</span><br>
    <span>If you are looking for a game, </span><br>
    <span>Use the filters to look for specfic game types.  </span>
    <span>Invite other players by searching for them using your console.  </span><br>
    <span>Note: Xbox players can message players by clicking on the <span class="glyphicon glyphicon-envelope"></span>icon</span><br><br>
    <span>If you want gamers to find you, </span><br>
    <span>click on the red "list my [clan/game]" button, fill out the form and click submit.  </span>
    <span>Your player and game info will now be listed on the live feed for others to find you.  </span><br>
    <span>Note: Post will be deleted automatically after the listed time frame</span>
  </p>

</div>
