
<div class="jumbotron">
  <div class="feed-title-container">
    <h3 class="feed-title">Rocket League</h3>
    <h3 class="feed-title">Currently Looking For A Game</h3>
    <span class="feed-time-info">Your post will be automatically deleted after 15 mins</span>
  </div>
  <hr/>

  <div class="form-filter">
    <span><strong>Filter Posts By: </strong></filter><br/><br/>

    <div class="form-group">
      <label for="region">Region</label>
      <select class="form-control" name="region" ng-model="region" ng-options="region.name for region in regions">
      </select>
    </div>
    <div class="form-group">
      <label for="gamerName">Console</label>
      <select class="form-control" name="console" ng-model="console" ng-options="id.name for id in consoles">
      </select>
    </div>
    <div class="form-group">
      <label for="mode">Game Mode</label>
      <select class="form-control" name="mode" ng-model="mode" ng-options="mode.name for mode in gameModes">
      </select>
    </div>
  </div>
  <hr/>
  <div class="zero-posts" ng-show="post == ''">
    Zero players looking for Games - add yourself and let them find you!
  </div>
  <div ng-repeat="data in post | filter:console.name | filter:mode.name | filter:region.name | orderBy:created:true">

    <div class="feed-container row post-block">
        <div class="col-md-6 col-sm-6">
          <div class="field">
          <span class="glyphicon glyphicon-user"></span><span class="player-name feed-text">{{data.consoleID}}</span>
          </div>

          <div class="field">
            <span class="glyphicon glyphicon-hdd"></span><span class="feed-text"> {{data.consoleType.name}}</span>
          </div>

          <div class="field">
            <span class="feed-text">{{data.gameMode}} | {{data.numberOfPlayers}} v {{data.numberOfPlayers}}</span>
          </div>

        </div>

      <div class="col-md-6 col-sm-6">
        <div class="field">
          <span class="glyphicon glyphicon-globe"></span><span class="game-rules feed-text">[{{data.region}}]</span>
        </div>

        <div  ng-show="data.rules" class="field">
          <span class="glyphicon glyphicon-comment"></span><span class="game-rules feed-text">{{data.rules}}</span>
        </div>

        <div class="field">
          <span class="glyphicon glyphicon-time"></span><span class="feed-text" am-time-ago="data.created"></span>
        </div>
      </div>

    </div>
    <div class="seperator"></div>
    <br/>
  </div>

</div>
